<label><h2>Edit Post</h2></label>
<form action="<%= post_url(@post) %>" method="post">
    <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label>Sub</label>
    <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% @subs.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox" value="<%= sub.id %>" name="post[sub_ids][]" <%= "checked" if @post.sub_ids.include?(sub.id)%>>
      <br>
    </label>

  <%end%>

  <label>Title<br>
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
<br>
  <label>Link<br>
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br><br>

  <label>Content<br>
    <textarea name="post[content]" rows=3><%= @post.content %></textarea>
  </label>

  <br>
  <br>
  <input type="submit" value="Create">
</form>
